
body{
  margin: 2em;
  background-image: url(sample/fondo-blanco.gif);
  background-repeat: repeat;
  background-size: 100%,100%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#Lista{
  background-color: rgb(181, 230, 235);
  border-style: solid;
  border-color: rgb(59, 109, 124);
  font-family: 'Fira Sans', sans-serif;

}


label{
  border-radius: 25%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#ContainerLogList{
  background-color:rgb(181, 230, 235)
}
#ActualBalance{
  font-family: 'Fira Sans', sans-serif;
  border-style: solid;
  border-color: rgb(59, 109, 124);
  background-color:rgb(181, 230, 235)
}
#Last10Selector{
  margin-top: 1%;
}
.col-sm-1{
  margin-left: 1%;
 
}
.col-sm{
  
  margin-top: 0.1em;
}


.header {
  width: 100%;
  height: 80px;
  margin-top: 40px;
  background: #D2D4DE;
  color: white;
  text-align: center;
}
.header a {
  color: black;
  text-decoration: none;
}
.logo-nav-containter {
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
/*modifica el logo*/
.LOGO {
  margin-bottom: 43px;
  margin-top: -37px;
  width: 35%;
  height: 120px;
  z-index: 1;
}
.logo2 {
  height: 120px;
  background-image: url(sample/icon1.png);
}
/*modifica la parte que contiene tanto la hamburguesa como el logo*/
.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-bottom: 80px;
  width: 60%;
  height: 80px;
  font-size: 16px;
}
/*mantiene la hamburguesa oculta en modo escritorio*/
.menudesplegable {
  display: none;
}
/*accesos es lo que contiene a los ul, li, a*/
.accesos ul {
  margin: 0%;
  padding: 0%;
  list-style: none;
}
.accesos ul li {
  display: inline-block;
}
.accesos ul li a {
  display: block;
  padding: 8px 16px;
  border-radius: 10px;
}
.accesos ul li a:hover {
  background: (123, 197, 240);
  text-decoration: none;
  color: #58585B;
}
.container {
  width: 85%;
  max-width: 1800px;
  margin: 0% auto;
}
@media only screen and (max-width: 768px) {
  /*modifica la parte de la hamburguesa*/
  .menudesplegable {
    display: flex;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image: url(sample/lineas.png);
    background-size: contain;
  }
  /*modifica la parte que contiene tanto la hamburguesa como el logo*/
  .navbar-menu {
    width: 55%;
  }
  /*modifica que se vea o no el logo*/
  .LOGO {
    display: block;
  }
  /*accesos es lo que contiene a los ul, li, a*/
  .accesos {
    background: #D2D4DE;
    margin-top: 202px;
    width: 100%;
    position: fixed;
    left: 0;
  }
  .accesos ul {
    display: none;
    width: 100%;
  }
  .accesos ul.show {
    display: block;
  }
  .accesos ul li {
    display: block;
  }
}